.vs/CRM_CRUD/DesignTimeBuild/.dtbcache.v2
.vs/CRM_CRUD/FileContentIndex/6c891ff8-ba78-4dbb-ad49-94f566d36267.vsidx
.vs/CRM_CRUD/FileContentIndex/51de2079-cc34-4cea-acae-33fd0115c36b.vsidx
.vs/CRM_CRUD/FileContentIndex/721e18df-ee71-48db-b7d6-bc5a30c2490d.vsidx
.vs/CRM_CRUD/FileContentIndex/90842a8d-a934-42fb-a4b3-0473a13dcc17.vsidx
.vs/CRM_CRUD/FileContentIndex/c865dbe3-02d9-4390-a12c-baf564e9f19a.vsidx
.vs/CRM_CRUD/config/applicationhost.config
.vs/CRM_CRUD/v17/.futdcache.v2
.vs/CRM_CRUD/v17/.suo
.vs/CRM_CRUD/v17/DocumentLayout.json
.vs/ProjectEvaluation/crm_crud.metadata.v8.bin
.vs/ProjectEvaluation/crm_crud.projects.v8.bin
.vs/ProjectEvaluation/crm_crud.strings.v8.bin
CRM_CRUD/bin/Debug/net8.0/appsettings.Development.json
CRM_CRUD/bin/Debug/net8.0/appsettings.json
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.deps.json
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.dll
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.exe
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.pdb
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.runtimeconfig.json
CRM_CRUD/bin/Debug/net8.0/CRM_CRUD.staticwebassets.runtime.json
CRM_CRUD/bin/Debug/net8.0/System.Data.SqlClient.dll
CRM_CRUD/bin/Debug/net8.0/runtimes/unix/lib/net8.0/System.Data.SqlClient.dll
CRM_CRUD/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Data.SqlClient.dll
CRM_CRUD/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
CRM_CRUD/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
CRM_CRUD/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
CRM_CRUD/obj/CRM_CRUD.csproj.nuget.dgspec.json
CRM_CRUD/obj/CRM_CRUD.csproj.nuget.g.props
CRM_CRUD/obj/CRM_CRUD.csproj.nuget.g.targets
CRM_CRUD/obj/project.assets.json
CRM_CRUD/obj/project.nuget.cache
CRM_CRUD/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CRM_CRUD/obj/Debug/net8.0/apphost.exe
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.AssemblyInfo.cs
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.AssemblyInfoInputs.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.assets.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.csproj.AssemblyReference.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.csproj.BuildWithSkipAnalyzers
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.csproj.CoreCompileInputs.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.csproj.FileListAbsolute.txt
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.csproj.Up2Date
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.dll
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.GeneratedMSBuildEditorConfig.editorconfig
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.genruntimeconfig.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.GlobalUsings.g.cs
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.MvcApplicationPartsAssemblyInfo.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.pdb
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.RazorAssemblyInfo.cache
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.RazorAssemblyInfo.cs
CRM_CRUD/obj/Debug/net8.0/project.razor.vs.bin
CRM_CRUD/obj/Debug/net8.0/staticwebassets.build.json
CRM_CRUD/obj/Debug/net8.0/staticwebassets.development.json
CRM_CRUD/obj/Debug/net8.0/staticwebassets.pack.json
CRM_CRUD/obj/Debug/net8.0/ref/CRM_CRUD.dll
CRM_CRUD/obj/Debug/net8.0/refint/CRM_CRUD.dll
CRM_CRUD/obj/Debug/net8.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
CRM_CRUD/obj/Debug/net8.0/scopedcss/bundle/CRM_CRUD.styles.css
CRM_CRUD/obj/Debug/net8.0/scopedcss/projectbundle/CRM_CRUD.bundle.scp.css
CRM_CRUD/obj/Debug/net8.0/staticwebassets/msbuild.build.CRM_CRUD.props
CRM_CRUD/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.CRM_CRUD.props
CRM_CRUD/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.CRM_CRUD.props
CRM_CRUD/obj/Debug/net8.0/staticwebassets/msbuild.CRM_CRUD.Microsoft.AspNetCore.StaticWebAssets.props
CRM_CRUD/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.assets.cache
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.csproj.AssemblyReference.cache
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.GeneratedMSBuildEditorConfig.editorconfig
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.GlobalUsings.g.cs
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CRM_CRUD/FileContentIndex/93d7a8b4-ae2b-4eb1-8853-351cd664918f.vsidx
.vs/CRM_CRUD/FileContentIndex/780138af-0ca8-40cd-a612-1bcfde121acb.vsidx
.vs/CRM_CRUD/v17/.wsuo
CRM_CRUD/obj/Debug/net8.0/CRM_CRUD.sourcelink.json
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.AssemblyInfo.cs
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.AssemblyInfoInputs.cache
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.RazorAssemblyInfo.cache
CRM_CRUD/obj/Release/net8.0/CRM_CRUD.RazorAssemblyInfo.cs
